.chatbox-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.chatbox-container input {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 1rem;
  width: 90%;
}

.chatbox-container button {
  background-color: transparent;
  color: #fff;
}
